{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended"],
  "rules": {
    "quotes": [2, "double"],
    "semi": [2, "never"],
    "prefer-arrow-callback": [2, {"allowUnboundThis": false}],
    "indent": ["error", 2],
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "comma-dangle": [2, "never"],
    "no-unused-vars": [1, { "argsIgnorePattern": "^_" }]
  }
}
