name: Deploy wallet preview to netlify at PR and pushes to it
on:
  push:
    branches:
      - main
    paths:
      - "packages/anoma-wallet/**"
env:
  CI: false
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        working-directory: ./packages/anoma-wallet
        run: yarn

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.3.0
        with:
          version: "v0.10.2"

      - name: Set up environment varuables for Netlify
        working-directory: ./packages/anoma-wallet
        run: |
          echo "REACT_APP_CHAIN_ID=anoma-masp-1.5.32ccad5356012a" > .env \
            && echo "REACT_APP_LEDGER_URL=https://d3brk13lbhxfdb.cloudfront.net/anoma-masp-1.5.32ccad5356012a7" >> .env \
            && echo "REACT_APP_FAUCET=atest1v4ehgw36gc6yxvpjxccyzvphxycrxw2xxsuyydesxgcnjs3cg9znwv3cxgmnj32yxy6rssf5tcqjm3" >> .env

      - name: build the site
        working-directory: ./packages/anoma-wallet
        run: yarn build

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2.3
        with:
          publish-dir: "./packages/anoma-wallet/build"
          production-branch: main
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Merged PR ${{ github.event.number }} to main"
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_ACCESS_TOKEN_WALLET_PREVIEW }}
          NETLIFY_SITE_ID: 2380782e-9b20-477a-bc27-b4e9d05e16f3

      - name: Slack Notification
        run: |
          curl --header "Content-Type: application/json" \
          --request POST \
          --data '{"message":"https://wallet-preview-heliax-dev.netlify.app"}' \
          ${{ secrets.SLACK_WEBHOOK_WALLET_RELEASE }}
