name: Build interface and caches at push to main
on:
  push:
    branches:
      - main
    paths:
      - "apps/namada-interface/**"
      - ".github/workflows/**"
env:
  CI: false
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install yarn dependencies
        uses: ./.github/actions/yarn-cache

      - name: Restore Rust cache
        uses: ./.github/actions/rust-cache
        with:
          cache-name: build

      - name: Install protoc
        run: sudo apt-get install -y protobuf-compiler

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.3.0
        with:
          version: "v0.10.3"

      - name: build the site
        working-directory: ./apps/namada-interface
        run: yarn build
        env:
          NAMADA_INTERFACE_NAMADA_ALIAS: "Namada Devnet"
          NAMADA_INTERFACE_NAMADA_CHAIN_ID: "internal-devnet-6be.86067e06a5"
          NAMADA_INTERFACE_NAMADA_URL: "https://proxy.heliax.click/internal-devnet-6be.86067e06a5"

      - name: Deploy to Netlify
        if: false
        uses: nwtgck/actions-netlify@v1.2.3
        with:
          publish-dir: "./apps/namada-interface/build"
          production-branch: main
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Merged PR ${{ github.event.number }} to main"
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_ACCESS_TOKEN_WALLET_PREVIEW }}
          NETLIFY_SITE_ID: 2380782e-9b20-477a-bc27-b4e9d05e16f3

      - name: Slack Notification
        run: |
          curl --header "Content-Type: application/json" \
          --request POST \
          --data '{"message":"https://wallet-preview-heliax-dev.netlify.app"}' \
          ${{ secrets.SLACK_WEBHOOK_WALLET_RELEASE }}

  rust-unit-test-js-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install yarn dependencies
        uses: ./.github/actions/yarn-cache

      - name: Restore Rust cache
        uses: ./.github/actions/rust-cache
        with:
          cache-name: unit-tests-js

      - name: Install protoc
        run: sudo apt-get install -y protobuf-compiler

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: "v0.10.3"

      - name: Compile WASM
        run: yarn wasm:build-test

  rust-unit-test-wasm-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install yarn dependencies
        uses: ./.github/actions/yarn-cache

      - name: Restore Rust cache
        uses: ./.github/actions/rust-cache
        with:
          cache-name: unit-tests-wasm

      - name: Install protoc
        run: sudo apt-get install -y protobuf-compiler

      - name: Install wsrun
        run: npm install -g wsrun

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: "v0.10.3"

      - name: Run unit tests
        id: run-unit-tests
        run: yarn test-wasm:ci
